<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<h1> Register Customer </h1>
<form action="#" th:action="@{/customer}" method="POST">
    <label for="inputId">Id</label>
    <input type="input" name="id" id="inputId">
    <label for="inputName">Name</label>
    <input type="input" name="name" id="inputName">
    <label for="inputPin">Pin</label>
    <input type="password" name="pin" id="inputPin">

    <input type="submit">
   </form>
    <hr>

<h1>All Customers</h1>

<table border="1px">
    <tr><th>Id</th> <th>Name</th><th>Pin</th></tr>

    <tr th:each="customer : ${allCustomers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.pin}"></td>
    </tr>

</table>

</body>
</html>
